.shopping_body{
	.product-detail{
		.my_shopping--product__list{
			.my_shopping--product__item{
				.my_shopping--product__body{
					.my_shopping--product__image{
						.gallery-top{
							height: 700px;
							.swiper-slide{
								overflow: hidden;
								img{
									width: 100%;
								}
							}
						}
						.gallery-thumbs{
							.swiper-slide{
								height: auto;
								overflow: hidden;
								img{
									width: 100%;
								}
							}
						}
					}
					.my_shopping--product__info{
						.my_shopping--product__info--name{
							border-bottom: none;
							padding-bottom: 0;
							.my_shopping--product__info--star{
								display: flex;
								align-items: center;
								.my_shopping--product__info--star-right{
									padding-left: 10px;
									.my_shopping--product__info--star-ratings {
										font-size: 16px;
										font-weight: 600;
										margin-bottom: 0;
									}
								}
							}
							.label-section{
								.badge{
									background-color: #a09c9c;
									padding: 5px 10px;
								}
								.in_fashion {
									text-transform: capitalize;
								}
							}
						}
						.my_shopping--product__info--detail{
							border-bottom: 1px dashed #ded4d4;
							.my_shopping--product__color{
								i{
									cursor: pointer;
									position: relative;
									&.active{
										&:after{
											position: absolute;
											content: "\2713";
											top: 50%;
											left: 50%;
											font-size: 18px;
											color: black;
											transform: translateX(-50%) translateY(-50%);
										}
									}
								}
							}
						}
						.my_shopping--product__info--size{
							h5{
								font-size: 16px;
							}
							.my_shopping--product__info--size--list{
								.my_shopping--product__info--size--item{
									.my_shopping--product__info--size--link{
										cursor: pointer;
									}
								}
							}
							border-bottom: 1px dashed #ded4d4;
							.my_shopping--product__info--quantity{
								.my_shopping--product__info--cart{
									.my_shopping--icon-cart{
										display: inline-block;
										margin-right: 10px;
									}
								}
							}
							.my_shopping--product__info--message{
								display: flex;
								align-items: center;
								background-color: #e4e4e4;
								padding: 10px 10px;
								margin: 20px 0;
								.my_shopping--product__info--message-icon{
									color: #ff4c3b;
									display: inline-block;
									margin-right: 10px;
								}
								.my_shopping--product__info--message-mes{
									margin-bottom: 0;
									font-size: 15px;
								}
							}
						}
						.my_shopping--product__info--sale-end{
							border-bottom: 1px dashed gray;
							padding: 15px 0 10px 0;
							h5{
								margin-bottom: 5px;
								font-size: 16px;
							}
							.my_shopping--product__info--list {
								padding: 0;
								margin-bottom: 0;
								list-style: none;
								.my_shopping--product__info--item{
									padding: 2px 0;
									p{
										margin-bottom: 0;
										color: #a2a2a2;
										font-size: 16px;
										font-weight: 400;
									}
								}
							}
						}
					}
				}
			}
			.my_shopping--tabs{
				.nav-tabs{
					margin-bottom: 20px;
					.nav-link {
						border: none;
						text-transform: uppercase;
						color: #4e4b4b;
						font-size: 16px;
						font-weight: 700;
						border-radius: 0;
						padding-bottom: 15px;
						&.active{
							color: #ff4c3b !important;
							border-bottom: 2px solid #ff4c3b !important;
						}
					}
				}
				.tab-content{
					.product-tab-discription{
						.part{
							margin-top: 20px;
							.inner-title{
								text-transform: capitalize;
								font-size: 16px;
								font-weight: 600;
								color: #252525;
							}
							p{
								color: gray;
								font-weight: 400;
								margin-bottom: 0;
							}
						}
					}
					.tab-pane{
						p{
							margin-bottom: 0;
							color: gray;
							font-size: 16px;
							font-weight: 400;
						}
						.single-product-tables {
							display: flex;
							table{
								tr{
									margin-top: 20px;
									display: block;
									td{
										display: inline-block;
										width: 180px;
										&:first-child{
											color: gray;
											font-size: 16px;
											font-weight: 400;
										}
									}
								}
							}
						}
						.theme-form{
							.my_shopping--form-item{
								margin-bottom: 10px;
							}
							.media{
								display: flex;
								i{
									font-size: 13px;
									&.active{
										color: #ffc107;
									}
								}
							}
							label{
								font-size: 15px;
								display: inline-block;
								margin-bottom: 10px;
							}
							input{
								padding: 15px 20px;
								border-radius: 0;
								font-size: 16px;
							}
						}
					}
				}
				
			}
			.my_shopping--related-products{
				margin-top: 50px;
				.my_shopping--related-products-label {
					font-size: 25px;
					font-weight: 500;
					text-transform: capitalize;
					color: #252323;
					margin-bottom: 0;
					padding-bottom: 20px;
					border-bottom: 1px solid #d6d0d0;
				}
				.new_product--item{
					.new_product--item-image{
						height: 220px;
					}
				}
			}
			.my_shopping--product__info--count{
				display: flex;
				display: flex;
				background-color: #efefef;
				align-items: center;
				padding: 5px 0;
				margin-bottom: 10px;
				span{
					font-size: 15px;
				}
				.my_shopping--product__info--count-order{
					margin-right: 10px;
				}
			}
		}
	}
}

.my_shopping--star{
	color: #ffa200 !important;
}

.no-boder{
	border-bottom: none !important;
}

.my_shopping--share{
	.my_shopping--product__info--item {
		display: inline-block;
		padding: 5px 10px !important;
		.my_shopping--product__info--link {
			color: #333333;
			transition: 0.3s;
			&:hover{
				color: #ff4c3b;
			}
		}
	}
}

.my_shopping--color{
	color: #ff4c3b !important;
	font-size: 18px;
}

.my_shopping--product-choose{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100px;
	background-color: white;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 10px black;
	opacity: 0;
	.my_shopping--product-choose-body{
		display: flex;
		align-items: center;
		height: 100%;
		.my_shopping--product-choose-info{
			flex: 1;
			display: flex;
			align-items: center;
			.my_shopping--product-choose-info-img{
				flex: 1;
				overflow: hidden;
				img{
					width: 100%;
				}
			}
			.my_shopping--product-choose-info-content{
				flex: 4;
				.my_shopping--product-choose-info-name{
					margin-bottom: 0;
					font-size: 20px;
					text-transform: uppercase;
					color: black;
					font-weight: 500;
				}
				.my_shopping--product-choose-info-price{
					del{
						color: #9c9898;
					}
				}
			}
		}
		.my_shopping--product-choose-form{
			flex: 1;
			display: flex;
			justify-content: center;
			border: none;
			select{
				text-transform: uppercase;
				border: navajowhite;
				font-size: 18px;
				font-weight: 300;
				outline-color: transparent;
			}
		}
		.my_shopping--product-choose-submit{
			flex: 1;
			display: flex;
			justify-content: flex-end;
		}
	}
}

.my_shopping--product-choose-open{
	animation: my_shopping--product--choose--up .5s forwards;
}

.my_shopping--product-choose-close{
	animation: my_shopping--product--choose--down .5s forwards;
}
.my_shopping--changed{
	padding-bottom: 100px;
}

@-webkit-keyframes my_shopping--product--choose--up{
	0% { 
		opacity: 0;
		transform: translateY(100px);
	}
	100% { 
		opacity: 1;
		transform: translateY(0px); 
	}
}

@-webkit-keyframes my_shopping--product--choose--down{
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% { 
		opacity: 1;
		transform: translateY(100px); 
	}
}

// import
@import "mobile";