// Color
$orange_s: #ff4c3b;
$black_s: #222222;
$gray_s: #999999;
$yelow_s: #ffa200;
$ligthblue_s: #d0edff;
$gray_s2: #f1e7e6;
$brown_s: #bfbfbf;
// Backgroud
$gray_b: #f8f8f8;

.breadcrumb_shopping {
	height: 100px;
	background: #f9f9f9;
	line-height: 100px;
}

.breadcrumb_page--name {
	height: 100px;
	display: flex;
	align-items: center;
}

.breadcrumb_page--nam-label {
	text-transform: uppercase;
	font-size: 16px;
	color: black;
	margin-bottom: 0;
}

.breadcrumb_page--theme {
	display: flex;
	justify-content: flex-end;
	.breadcrumb{
		padding: 0;
		background-color: transparent;
	}
}

.breadcrumb-item{
	a{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 16px;
		color: black;
		text-decoration: none;
	}
	&.active{
		text-transform: uppercase;
	}
}

// shopping_sidebar
.shopping_body {
	padding: 60px 0;
}

.shopping_sidebar .shopping_sidebar--top {
	border: 1px solid $gray_s;
	padding: 25px 20px;
}

.shopping_sidebar--brand,
.shopping_sidebar--color,
.shopping_sidebar--size,
.shopping_sidebar--price{
	margin-bottom: 20px;
	clear: both;
}

.shopping_sidebar--label {
	text-transform: uppercase;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	cursor: pointer;
	i{
		font-size: 20px;
		position: relative;
		top: -4px;
	}
}

.shopping_sidebar--list {
	padding: 0;
	list-style: none;
	margin: 0;
	display: block;
}

.shopping_sidebar--item {
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}

.shopping_sidebar--item input {
	cursor: pointer;
}

.shopping_sidebar--item label {
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 10px;
	font-weight: 400;
	color: black;
	cursor: pointer;
	position: relative;
}

.shopping_sidebar--item label:after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid gray;
	top: 3px;
	left: -24px;
	z-index: 4;
	background: white;
	border-radius: 3px;
	font-size: 15px;
	line-height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.shopping_sidebar--color {
	.shopping_sidebar--list{
		height: 90px;
		.shopping_sidebar--item {
			width: 30px;
			height: 30px;
			border: 1px solid black;
			float: left;
			border-radius: 50%;
			cursor: pointer;
			margin: 0px 5px 10px 5px;
			position: relative;
			background-color: #ffffff;
			&:nth-child(2){
				background-color: #7f8c8d;
			}
			&:nth-child(3){
				background-color: #e74c3c;
			}
			&:nth-child(4){
				background-color: #8e44ad;
			}
			&:nth-child(5){
				background-color: #3498db;
			}
			&:nth-child(6){
				background-color: #f1c40f;
			}
			&:nth-child(7){
				background-color: #2ecc71;
			}
		}
		.shopping_sidebar--item.active{
			&:after {
				content: "\2713";
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				top: 50%;
				transform: translateY(-50%);
				font-size: 18px;
				color: black;
				font-weight: bold;
			}
		}
	}
}

.shopping_sidebar--range-slider {
	display: flex;
	justify-content: center;
	.slider.slider-horizontal{
		width: 190px;
		.slider-handle{
			background: $orange_s;
		}
		.slider-track{
			background: #848080;
			.slider-selection{
				background: white;
				box-shadow: 0px 0px 5px #3a2c2b;
			}
		}
	}
	margin-bottom: 10px;
}

.shopping_sidebar--range-slider-price {
	width: 200px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.shopping_sidebar--range-slider-price span {
	color: black;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.shopping_content--avatar {
	height: 250px;
	img{
		width: 100%;
		height: 100%;
	}
}

.shopping_content--title {
	padding: 15px 0;
}

.shopping_content--title h3 {
	margin-bottom: 0;
	font-size: 20px;
	text-transform: uppercase;
	color: #585656;
}

.shopping_content--sub p {
	font-size: 15px;
	color: #949090;
}


.shopping_product--action {
	border: 1px solid black;
}

.shopping_product--action-label {
	text-align: center;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 0;
	padding: 20px 0;
	border-bottom: 1px solid black;
}

.shopping_product--action-column {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.shopping_product--action-column-left {
	flex: 1;
	text-align: center;
	align-items: center;
}

.shopping_product--action-column-left i {
	font-size: 16px;
	position: relative;
	top: 3px;
	cursor: pointer;
	margin: 0 5px;
}

.shopping_product--action-column-right {
	flex: 1;
	text-align: center;
	display: block;
	img{
		height: 20px;
		cursor: pointer;
		margin: 0 5px;
	}
}

.shopping_product--action-sort {
	height: 40px;
	display: flex;
	border-left: 1px solid black;
	justify-content: center;
	position: relative;
	padding: 0;
	select {
		border: none;
		cursor: pointer;
		outline: none;
		text-transform: capitalize;
		font-size: 15px;
		width: 100%;
		padding-left: 10px;
	}
}

.shopping_product--action-column {
	height: 40px;
	display: flex;
	line-height: 40px;
}

.shopping_product--action-column-left,
.shopping_product--action-column-right {
	flex: 1;
	text-align: center;
}

.shopping_product--action-column-right img {
	height: 16px;
	cursor: pointer;
}

.shopping_product--action .col-sm-3 {
	padding: 0;
	margin: 0;
}

.new_product--item-image {
	height: 250px;
}

.new_product--text, .new_product--label {
	display: none;
}

.shopping_product--action .row, .shopping_product--action .col-sm-12 {
	width: 100%;
	margin: 0;
	padding: 0;
}


// shopping_sidebar--new-product
.shopping_sidebar--new-product{
	position: relative;
	.shopping_sidebar--new-product-label{
		padding: 15px 0 10px;
		border-bottom: 1px solid #dadada;
		margin-bottom: 20px;
		.shopping_sidebar--new-product-title{
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 0;
			font-weight: 600;
			color: black;
		}
	}
	.shopping_sidebar--new-product-list {
		overflow: hidden;
		.swiper-container {
			position: static;
			.swiper-button-prev{
				&::after{
					color: #848383;
					font-size: 20px;
					font-weight: 600;
					position: absolute;
					top: -220px;
					right: -180px;
				}
			}
			.swiper-button-next{
				&::after{
					color: #848383;
					font-size: 20px;
					font-weight: 600;
					position: absolute;
					top: -220px;
				}
			}
			.swiper-slide {
				display: flex;
				flex-direction: column;
				.shopping_sidebar--new-product-item {
					width: 100%;
					display: flex;
					margin-bottom: 20px;
					.shopping_sidebar--new-product-img {
						flex: 2;
						img {
							width: 100%;
						}
					}
					.shopping_sidebar--new-product-info {
						flex: 3;
						display: flex;
						flex-direction: column;
						text-align: left;
						justify-content: center;
						padding-left: 15px;
						.shopping_sidebar--new-product-star{
							i {
								font-size: 13px;
								color: #ffa200;
							}
						}
						.shopping_sidebar--new-product-name {
							font-size: 15px;
							text-decoration: none;
							text-transform: capitalize;
							color: #909090;
							line-height: 19px;
							margin: 5px 0;
						}
						.shopping_sidebar--new-product-price {
							font-size: 20px;
							font-weight: 600;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}
// shopping_sidebar--side-banner
.shopping_sidebar--side-banner{
	overflow: hidden;
	.shopping_sidebar--side-banner-img{
		width: 100%;
	}
}

// product_tabs--pagination 
.product_tabs--pagination {
	display: flex;
	align-items: center;
	margin-top: 40px;
	border: 1px solid #cccccc;
	.col-6{
		padding-right: 0;
		padding-left: 0;
	}
	.pagination {
		margin-bottom: 0;
		.page-item{
			padding: 10px;
			border-left: 1px solid #d8d3d3;
			&:last-child{
				border-right: 1px solid #d8d3d3 ;
			}
			&:first-child{
				border-left: none;
			}
			.page-link{
				color: gray;
				border: none;
				transition:0.4s;
				&:hover{
					background-color: transparent;
					color: #ff4c3b;
				}
			}
		}
		.page-item.active{
			.page-link{
				background-color: transparent;
				color: #ff4c3b;
				font-weight: 500;
			}
		}
	}
	.product_tabs--pagination-label {
		margin-bottom: 0;
		text-align: right;
		text-transform: capitalize;
		color: #a09c9c;
		font-size: 15px;
		font-weight: 400;
		padding-right: 20px;
	}
}


// changed
.new_product--item-changed{
	display: flex;
	.new_product--item-image{
		flex: 1;
		height: 190px;
	}
	.new_product--item-info{
		flex: 4;
		padding: 0px 20px;
		.new_product--name{
			color: #545252;
			font-weight: 500;
		}
		.new_product--des{
			display: block;
			margin-bottom: 0;
			font-size: 16px;
			color: #8a8a8a;
		}
	}
}

// new_product--item-change
.new_product--item-change-two{
	.new_product--item-image{
		height: 500px;
	}
}

.new_product--item-change-three{
	.new_product--item-image{
		height: 350px;
	}
}


// my_shopping--filter
.my_shopping--filter {
	background-color: #ff4c3b;
	color: white;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
	padding: 2px 15px;
	transition: 0.2s;
	cursor: pointer;
	margin-bottom: 15px;
	display: inline-flex;
	align-items: center;
	display: none;
	&:hover{
		color: black;
	}
	i {
		font-size: 16px;
		margin-right: 5px;
	}
}
// my_shopping--back
.my_shopping--back {
	text-transform: uppercase;
	font-weight: 200;
	border-bottom: 1px solid #e0dfdf;
	margin: 0 20px;
	padding-bottom: 20px;
	display: none;
	span{
		font-size: 20px;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		i{
			font-size: 15px;
			font-weight: 600;
			margin-right: 10px;
		}
	}
}

// sidebar_show
.sidebar_show{
	display: block !important;
	position: fixed;
	top: 0;
	width: 300px;
	left: 0;
	z-index: 999;
	overflow: auto;
	height: 100vh;
	background-color: white;
	padding: 30px 0;
	animation: sidebar_show .5s forwards;
	.shopping_sidebar{
		.shopping_sidebar--top{
			border: 0;
			.shopping_sidebar--brand,
			.shopping_sidebar--color,
			.shopping_sidebar--size,
			.shopping_sidebar--price{
				border-bottom: 1px solid #e0dfdf;
			}
		}
		.shopping_sidebar--new-product{
			padding: 20px 25px;
		}
	}
}

@-webkit-keyframes sidebar_show{
	0% { 
		transform: translateX(-100%);
	}
	100% { 
		transform: translateX(0);
	}
}

// sidebar_hide

.sidebar_hide{
	animation: sidebar_hide .5s forwards;
}

@-webkit-keyframes sidebar_hide{
	0% { 
		transform: translateX(0);
	}
	100% { 
		transform: translateX(-100%);
	}
}
