* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.clear {
  clear: both; }

html, body {
  width: 100%;
  height: 100%; }

.my_shopping__view__all {
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  background-color: #ff8084;
  border-color: #ff8084;
  padding: 5px 15px; }

.my_shopping--header {
  display: flex;
  height: 80px;
  align-items: center;
  box-shadow: 0px 0px 4px #867f7f;
  position: fixed;
  right: 0;
  left: 0;
  padding: 0;
  z-index: 999;
  top: 0;
  background-color: white; }
  .my_shopping--header .my_shopping--logo {
    box-shadow: 3px 0px 1px #e4f0f3a3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; }
    .my_shopping--header .my_shopping--logo .my_shopping--logo-link {
      position: relative;
      left: 20px; }
      .my_shopping--header .my_shopping--logo .my_shopping--logo-link img {
        width: 100%; }
  .my_shopping--header #my_shopping--header-right {
    background-color: white; }
  .my_shopping--header .my_shopping--header-right {
    display: flex;
    flex: 4;
    height: 80px;
    align-items: center; }
    .my_shopping--header .my_shopping--header-right .my_shopping--bar {
      position: relative;
      left: 50px;
      height: 80px;
      line-height: 80px;
      display: flex;
      align-items: center;
      flex: 1; }
      .my_shopping--header .my_shopping--header-right .my_shopping--bar i {
        color: #ff8084;
        font-size: 20px;
        cursor: pointer; }
        .my_shopping--header .my_shopping--header-right .my_shopping--bar i#my_shopping--show-side-bar {
          display: none; }
    .my_shopping--header .my_shopping--header-right .my_shopping--intro {
      display: flex;
      flex: 3; }
      .my_shopping--header .my_shopping--header-right .my_shopping--intro .my_shopping--intro__search .my_shopping--intro__search-body {
        display: flex;
        border: 1px solid #e4e4e4;
        padding: 10px 50px;
        border-radius: 20px;
        background-color: #f9f9f9; }
        .my_shopping--header .my_shopping--header-right .my_shopping--intro .my_shopping--intro__search .my_shopping--intro__search-body .my_shopping--intro__search-icon i {
          font-size: 13px;
          color: #ff8084; }
      .my_shopping--header .my_shopping--header-right .my_shopping--intro .my_shopping--intro__search-input {
        border-left: 1px solid #f1ebeb;
        padding-left: 15px;
        margin-left: 15px; }
        .my_shopping--header .my_shopping--header-right .my_shopping--intro .my_shopping--intro__search-input input {
          border: none;
          outline: none;
          background-color: transparent; }
    .my_shopping--header .my_shopping--header-right .my_shopping--intro-open {
      display: none;
      align-items: center;
      padding: 5px 0;
      position: relative;
      z-index: 1;
      cursor: pointer; }
      .my_shopping--header .my_shopping--header-right .my_shopping--intro-open span {
        display: inline-flex;
        margin-right: 2px; }
        .my_shopping--header .my_shopping--header-right .my_shopping--intro-open span i {
          font-size: 5px;
          color: #ff8084; }
    .my_shopping--header .my_shopping--header-right .my_shopping--intro__action {
      display: flex;
      flex: 2;
      justify-content: flex-end;
      align-items: center; }
      .my_shopping--header .my_shopping--header-right .my_shopping--intro__action .my_shopping--intro__action-general {
        border-left: 1px solid #eaeaea;
        padding: 3px 20px; }
      .my_shopping--header .my_shopping--header-right .my_shopping--intro__action i, .my_shopping--header .my_shopping--header-right .my_shopping--intro__action .my_shopping--intro__action-full-language {
        color: #ff8084;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 300; }
      .my_shopping--header .my_shopping--header-right .my_shopping--intro__action .my_shopping--intro__action-full-info {
        display: flex;
        flex: 0.5;
        justify-content: center;
        padding: 7px 20px;
        position: relative;
        height: 30px; }
        .my_shopping--header .my_shopping--header-right .my_shopping--intro__action .my_shopping--intro__action-full-info .my_shopping--intro__action-full-info-img {
          position: absolute;
          width: 50px;
          height: 50px;
          border: 1px solid transparent;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0px 0px 2px #868181;
          cursor: pointer;
          top: 50%;
          transform: translateY(-50%); }
          .my_shopping--header .my_shopping--header-right .my_shopping--intro__action .my_shopping--intro__action-full-info .my_shopping--intro__action-full-info-img img {
            width: 100%; }
      .my_shopping--header .my_shopping--header-right .my_shopping--intro__action .my_shopping--intro__action-full-message i:first-child {
        margin-right: 15px; }

.my_shopping--content {
  margin-top: 80px;
  height: 100vh; }
  .my_shopping--content .my_shopping--content-sidebar {
    position: fixed;
    height: 100vh;
    background: white;
    box-shadow: 0px 0px 4px #867f7f;
    padding: 10px; }
    .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      overflow: auto;
      top: -15px;
      padding-bottom: 70px;
      left: 0; }
      .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-user {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid transparent;
        box-shadow: 0px 2px 0px #eef5f7;
        padding-bottom: 30px; }
        .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-user .my_shopping--content-sidebar-user-img {
          width: 60px;
          height: 60px;
          border: 1px solid transparent;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0px 0px 5px #8bc5d6; }
          .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-user .my_shopping--content-sidebar-user-img img {
            width: 100%; }
        .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-user .my_shopping--content-sidebar-user-name {
          text-transform: uppercase;
          color: #ff8084;
          font-size: 16px;
          font-weight: 500;
          margin: 10px 0 5px 0; }
        .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-user .my_shopping--content-sidebar-user-position {
          text-transform: uppercase;
          font-size: 12px;
          color: gray;
          font-weight: 500; }
      .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list {
        list-style: none;
        padding-left: 0;
        padding: 20px 30px; }
        .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item {
          display: flex;
          align-items: center;
          flex-direction: column; }
          .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-link {
            text-decoration: none;
            text-transform: capitalize;
            color: black;
            font-size: 15px;
            font-weight: 500;
            padding: 15px 0;
            transition: 0.4s;
            margin-bottom: 0;
            width: 100%;
            display: flex;
            align-items: center;
            cursor: pointer; }
            .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-link:hover {
              color: #ff8084; }
            .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-link i {
              margin-right: 10px;
              font-size: 13px;
              width: 15px;
              height: 15px;
              line-height: 15px;
              text-align: center; }
              .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-link i:nth-child(2) {
                font-size: 11px;
                position: absolute;
                right: 0; }
          .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list {
            width: 100%;
            display: none; }
            .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item {
              width: 100%;
              padding: 5px 0;
              transition: 0.4s; }
              .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item:hover {
                color: #ff8084; }
              .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item:hover .my_shopping--content-sidebar-item-item-list {
                color: #969191; }
              .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item .my_shopping--content-sidebar-item-link {
                margin-bottom: 0;
                position: relative;
                cursor: pointer;
                text-transform: capitalize;
                transition: 0.4s;
                text-decoration: none;
                color: #928f8f;
                font-size: 15px;
                display: block;
                font-weight: 500; }
                .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item .my_shopping--content-sidebar-item-link:hover {
                  color: #ff8084; }
                .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item .my_shopping--content-sidebar-item-link i {
                  position: absolute;
                  right: -10px;
                  font-size: 11px;
                  top: 5px; }
              .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item .my_shopping--content-sidebar-item-item-list {
                width: 100%;
                display: none; }
                .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item .my_shopping--content-sidebar-item-item-list .my_shopping--content-sidebar-item-item-item {
                  padding: 5px 0;
                  transition: 0.4s; }
                  .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item .my_shopping--content-sidebar-item-item-list .my_shopping--content-sidebar-item-item-item:hover {
                    color: #ff8084; }
                  .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item .my_shopping--content-sidebar-item-item-list .my_shopping--content-sidebar-item-item-item:hover .my_shopping--content-sidebar-item-item-link {
                    color: #ff8084; }
                  .my_shopping--content .my_shopping--content-sidebar .my_shopping--content-sidebar-content .my_shopping--content-sidebar-list .my_shopping--content-sidebar-item .my_shopping--content-sidebar-item-list .my_shopping--content-sidebar-item-item .my_shopping--content-sidebar-item-item-list .my_shopping--content-sidebar-item-item-item .my_shopping--content-sidebar-item-item-link {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 13px;
                    color: #969191;
                    transition: 0.4s; }
  .my_shopping--content .my_shopping--content-right {
    position: absolute;
    background-color: #f8f8f9;
    overflow: auto;
    padding: 30px 20px;
    right: 0;
    min-height: calc(100vh - 80px);
    width: 80%; }
    .my_shopping--content .my_shopping--content-right .my_shopping--content-right-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .my_shopping--content .my_shopping--content-right .my_shopping--content-right-header .my_shopping--content-right-header-left h3 {
        display: inline-grid;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold; }
        .my_shopping--content .my_shopping--content-right .my_shopping--content-right-header .my_shopping--content-right-header-left h3 small {
          font-size: 11px;
          text-transform: capitalize;
          color: #979595;
          letter-spacing: 1px;
          margin-top: 10px; }
      .my_shopping--content .my_shopping--content-right .my_shopping--content-right-header nav {
        float: right;
        text-transform: capitalize;
        font-size: 15px; }
        .my_shopping--content .my_shopping--content-right .my_shopping--content-right-header nav ol li:first-child a {
          color: #ff8084; }
        .my_shopping--content .my_shopping--content-right .my_shopping--content-right-header nav ol li:nth-child(2) {
          color: black; }
    .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item {
      display: flex;
      align-items: center;
      background-color: #ff8084;
      border-radius: 25px;
      color: white;
      padding: 30px 0;
      margin: 10px 0 20px 0; }
      .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item.my_shopping--total-item-earning {
        background-color: #f39c12 !important; }
        .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item.my_shopping--total-item-earning .my_shopping-total-icon i {
          color: #f39c12 !important; }
      .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item.my_shopping--total-item-product {
        background-color: #3498db !important; }
        .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item.my_shopping--total-item-product .my_shopping-total-icon i {
          color: #3498db !important; }
      .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item.my_shopping--total-item-vendor {
        background-color: #95a5a6 !important; }
        .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item.my_shopping--total-item-vendor .my_shopping-total-icon i {
          color: #95a5a6 !important; }
      .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item .my_shopping-total-icon {
        flex: 1; }
        .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item .my_shopping-total-icon i {
          width: 50px;
          height: 50px;
          line-height: 50px;
          background-color: white;
          border-radius: 50%;
          color: #ff8084;
          text-align: center;
          margin-left: 30px; }
      .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item .my_shopping-total-money {
        flex: 2; }
        .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item .my_shopping-total-money .my_shopping-total-money-title {
          margin-bottom: 0;
          font-size: 18px;
          text-transform: capitalize;
          font-weight: normal; }
        .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item .my_shopping-total-money .my_shopping-total-price {
          margin-bottom: 0;
          font-size: 25px;
          font-weight: normal;
          letter-spacing: 2px; }
          .my_shopping--content .my_shopping--content-right .my_shopping--total .my_shopping--total-item .my_shopping-total-money .my_shopping-total-price small {
            font-size: 13px;
            text-transform: capitalize;
            letter-spacing: 0px; }
    .my_shopping--content .my_shopping--content-right .my_shopping--content-right-content {
      margin-top: 10px; }
      .my_shopping--content .my_shopping--content-right .my_shopping--content-right-content .my_shopping--content__list .my_shopping--content__item {
        padding: 20px 30px;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 30px; }
        .my_shopping--content .my_shopping--content-right .my_shopping--content-right-content .my_shopping--content__list .my_shopping--content__item .my_shopping--content__label {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px; }
          .my_shopping--content .my_shopping--content-right .my_shopping--content-right-content .my_shopping--content__list .my_shopping--content__item .my_shopping--content__label h5 {
            font-size: 20px;
            text-transform: capitalize;
            font-weight: bold;
            margin-bottom: 0; }
          .my_shopping--content .my_shopping--content-right .my_shopping--content-right-content .my_shopping--content__list .my_shopping--content__item .my_shopping--content__label .my_shopping--content__label--action {
            width: auto;
            display: flex;
            align-items: center; }
            .my_shopping--content .my_shopping--content-right .my_shopping--content-right-content .my_shopping--content__list .my_shopping--content__item .my_shopping--content__label .my_shopping--content__label--action i {
              font-size: 11px;
              margin-right: 13px;
              cursor: pointer;
              color: #444141;
              display: none;
              padding: 5px 5px; }
              .my_shopping--content .my_shopping--content-right .my_shopping--content-right-content .my_shopping--content__list .my_shopping--content__item .my_shopping--content__label .my_shopping--content__label--action i:first-child {
                display: block; }
    .my_shopping--content .my_shopping--content-right footer.my_shopping--footer {
      display: flex;
      justify-content: space-between; }
      .my_shopping--content .my_shopping--content-right footer.my_shopping--footer p {
        color: #9e9c9c;
        font-size: 13px;
        margin-bottom: 0; }

.my_shopping--content-sidebar-content::-webkit-scrollbar {
  width: 5px; }

.my_shopping--content-sidebar-content::-webkit-scrollbar-thumb {
  background-color: #e9ecef; }

.close {
  animation: close .5s forwards; }
  .close .my_shopping--logo {
    opacity: 0; }

@-webkit-keyframes close {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -250px; } }
.open {
  animation: open .5s forwards; }

@-webkit-keyframes open {
  0% {
    margin-left: -250px; }
  100% {
    margin-left: 0px; } }
.change_width {
  animation: change_width .5s forwards; }

@-webkit-keyframes change_width {
  0% {
    width: 80%; }
  100% {
    width: 100%; } }
.remove_change_width {
  animation: remove_change_width .5s forwards; }

@-webkit-keyframes remove_change_width {
  0% {
    width: 100%; }
  100% {
    width: 80%; } }
.my_shopping--header-right .intro_show {
  animation: intro_show 1s forwards; }

@-webkit-keyframes intro_show {
  0% {
    top: 0; }
  100% {
    top: 60px; } }
.my_shopping--header-right .intro_hide {
  animation: intro_hide 1s forwards; }

@-webkit-keyframes intro_hide {
  0% {
    top: 60px; }
  100% {
    top: 0; } }
.show_side_bar {
  animation: show_side_bar 0.5s forwards; }

@-webkit-keyframes show_side_bar {
  0% {
    width: 250px;
    transform: translateX(-100%); }
  100% {
    z-index: 2;
    width: 250px;
    transform: translateX(0%); } }
.hide_side_bar {
  animation: hide_side_bar 1s forwards; }

@-webkit-keyframes hide_side_bar {
  0% {
    z-index: 2;
    width: 250px;
    transform: translateX(0%); }
  100% {
    width: 250px;
    transform: translateX(-100%); } }
@media (max-width: 576px) {
  .my_shopping--content .my_shopping--content-sidebar {
    width: 0;
    left: -20px; }

  .my_shopping--content .my_shopping--content-right footer.my_shopping--footer {
    flex-direction: column;
    text-align: center; }

  .my_shopping--intro__search .my_shopping--intro__search-body {
    padding: 0 !important;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .my_shopping--intro__search .my_shopping--intro__search-body .my_shopping--intro__search-input {
      display: none; }

  .my_shopping--intro__search {
    flex: 1 !important;
    justify-content: center !important; }

  .my_shopping--intro__action {
    justify-content: flex-start !important; }

  .my_shopping--intro__action-full-info-img {
    width: 40px !important;
    height: 40px !important; }

  .my_shopping--header-right {
    height: 60px !important; } }
@media (min-width: 576px) and (max-width: 992px) {
  .my_shopping--intro {
    padding: 0 40px !important; }

  .my_shopping--intro__search-body {
    padding: 7px 10px !important; }

  .my_shopping--intro__action-general {
    padding: 3px 10px !important;
    font-size: 16px !important; }

  .my_shopping--intro__action-full-info {
    justify-content: end !important; }
    .my_shopping--intro__action-full-info .my_shopping--intro__action-full-info-img {
      width: 40px !important;
      height: 40px !important; } }
@media (max-width: 992px) {
  .my_shopping--header, .my_shopping--header-right, .my_shopping--bar {
    height: 60px !important; }

  .my_shopping--content-right {
    width: 100% !important; }

  .my_shopping--logo {
    box-shadow: none !important; }

  .my_shopping--header-right .my_shopping--bar i {
    display: none; }
    .my_shopping--header-right .my_shopping--bar i#my_shopping--show-side-bar {
      display: block !important; }
  .my_shopping--header-right .my_shopping--intro {
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    display: none;
    height: 60px;
    align-items: center;
    box-shadow: 0 0 3px #c3c2c2;
    background-color: white;
    z-index: -1;
    border-top: 1px solid #efefef; }

  .my_shopping--intro-open {
    display: flex !important; }

  .my_shopping--content {
    margin-top: 60px; }

  #my_shopping--header-right, #my_shopping--header {
    height: 60px; }

  .my_shopping--intro__search {
    display: flex;
    flex: 2;
    justify-content: flex-end; } }

/*# sourceMappingURL=admin.css.map */
