.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #ff8084;
}

// swiper

.my_shopping--product__list{
  .my_shopping--product__item{
    .my_shopping--product__body{
      .my_shopping--product__image{
        .gallery-top{
          height: 430px;
          margin-bottom: 30px;
        }
        .gallery-thumbs{
          margin-bottom: 30px;
          .swiper-slide{
            height: 100px;
          }
        }
      }
      .my_shopping--product__info{
        .my_shopping--product__info--sale-end{
          .my_shopping--product__info--sale-end-timer {
            display: flex;
            justify-content: space-evenly;
            width: 300px;
            background: #f8f8f9;
            padding: 10px;
            margin: 20px 0;
            span{
              text-transform: capitalize;
              font-weight: 500;
              text-align: center;
              span{
                display: flex;
                &:nth-child(1){
                  justify-content: flex-end;
                }
                &:nth-child(2){
                  color: #888585;
                  font-weight: normal;
                  font-size: 15px;
                }
              }

            }
          }
        }

        .my_shopping--product__info--cart {
          a{
           text-transform: uppercase;
           font-weight: bold;
           padding: 5px 15px;
           margin-right: 20px;
         }
         
       }
       .my_shopping--product__info--name,
       .my_shopping--product__info--detail, .my_shopping--product__info--size {
        border-bottom: 1px solid #ded4d4;
        padding-bottom: 30px;
        h3 {
          font-size: 25px;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 0;
        }
        .my_shopping--product__info--star {
          margin-top: 10px;
          i {
            color: #bbb8b8;
            cursor: pointer;
          }
        }

      }
      .my_shopping--product__info--detail,
      .my_shopping--product__info--size,
      .my_shopping--product__info--sale-end{
        padding: 10px 0;
        h5 {
          font-size: 18px;
          text-transform: capitalize;
          margin-bottom: 0;
        }
        .my_shopping--product__price{
          .my_shopping--product__price--sale{
            font-size: 30px;
            font-weight: normal;
          }
        }
      }
      .my_shopping--product__color{
        i{
          font-size: 30px;
        }
      }
      .my_shopping--product__info--size{
        display: flex;
        flex-direction: column;
        .my_shopping--product__info--size--title{
          display: flex;
          justify-content: space-between;
          align-items: center;
          a{
            font-size: 18px;
            text-transform: capitalize;
            color: #ff8084;
            font-weight: 500;
            text-decoration: none;
          }
        }
        .my_shopping--product__info--size--list{
          padding-left: 0;
          list-style: none;
          margin-bottom: 0;
          padding: 10px 0;
          .my_shopping--product__info--size--item {
            float: left;
            .my_shopping--product__info--size--link{
              text-decoration: none;
              width: 35px;
              margin-right: 10px;
              border: 1px solid #e8e0e0;
              height: 35px;
              text-align: center;
              border-radius: 50%;
              color: black;
              font-weight: 400;
              display: flex;
              align-items: center;
              justify-content: center;
              &.active{
                background-color: #e4e8ea;
              }
            }
          }
        }
        .my_shopping--product__info--quantity{
         .my_shopping--product__info--quantity--number {
          padding: 10px 0;
          display: flex;
          .my_shopping--product__info--quantity--sub{
            border: 1px solid #d6caca;
            display: flex;
            width: 30px;
            text-align: center;
            color: black;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            text-decoration: none;
            align-items: center;
            justify-content: center;
          }
          .my_shopping--product__info--quantity--add{
           border: 1px solid #d6caca;
           display: flex;
           width: 30px;
           text-align: center;
           color: black;
           border-top-right-radius: 4px;
           border-bottom-right-radius: 4px;
           text-decoration: none;
           align-items: center;
           justify-content: center;
         }
         input{
          width: 80px;
          text-align: center;
          border: none;
          border-top: 1px solid #d6caca;
          border-bottom: 1px solid #d6caca;
          height: 40px;
          outline: none;
        }
      }
    }
  }
}
}
}
}